.scrivsidian-import-modal {
  width: 800px;
}

.scrivsidian-binder-view {
  --info-width: 48px;
  --margin-width: 8px;
}

div.scrivsidian-bindertree {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
.scrivsidian-bindertree ul {
  list-style: none;
  margin: 0;
  padding-left: 1.2em;
  position: relative;
}

.scrivsidian-bindertree li {
  position: relative;
  padding-left: 1em;
  line-height: 1.8em;
}
.scrivsidian-bindertree li::before {
  content: '';
  position: absolute;
  top: 0.9em;
  left: 0;
  width: 0.8em;
  height: 0;
  border-top: 1px solid var(--text-muted);
}

.scrivsidian-bindertree li::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 1px solid var(--text-muted);
}

.scrivsidian-bindertree li:last-child::after {
  height: 0.9em;
}

.scrivsidian-bindertree-header,
.scrivsidian-bindertree li > div {
  color: var(--text-normal);
}

.scrivsidian-bindertree li > div:hover {
  background-color: var(--interactive-hover);
  cursor: pointer;
}

.scrivsidian-bindertree-header > .info,
.scrivsidian-bindertree li > div > .info {
  display: inline-block;
  width: var(--info-width);
  text-align: right;
}

.scrivsidian-bindertree li > div > .info {
  color: var(--text-muted);
}

.scrivsidian-bindertree-header > .title,
.scrivsidian-bindertree li > div > .title {
  display: inline-block;
  width: calc(100% - var(--info-width) - var(--margin-width));
  margin-right: var(--margin-width);
}

.scrivsidian-bindertree-buttonbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.scrivsidian-import-status {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: var(--size-4-2) 0;
}

.scrivsidian-import-progressbar {
	width: 100%;
	height: 8px;
	background-color: var(--background-secondary);
	overflow: hidden;
	box-shadow: inset 0px 0px 0px 1px var(--background-modifier-border);
	border-radius: var(--radius-s);
}

.scrivsidian-import-progressbar-inner {
	width: 0;
	height: 100%;
	background-color: var(--interactive-accent);
}

.scrivsidian-import-log {
	overflow: auto;
	flex-grow: 1;
	font-family: var(--font-monospace);
	font-size: var(--font-ui-smaller);
	color: var(--text-muted);
	border: 1px solid var(--background-modifier-border);
	padding: var(--size-4-4);
	background-color: var(--background-secondary);
	border-radius: var(--radius-s);
	max-height: 300px;
	user-select: text;
}

.scrivsidian-import-log .log-item {
	display: inline-block;
	line-height: var(--line-height-normal);
	white-space: pre;
	margin: var(--size-2-1);
}

.scrivsidian-import-log .log-item.item-warning {
	color: var(--text-warning);
}

.scrivsidian-import-log .log-item.item-error {
	color: var(--text-error);
}
